.posts{
    margin-top: 20px;
    margin-left: 115px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-gap: 40px;
    /* background-color: rgb(113,81,80); */
    padding: 10px;
    /* max-height: 50px; */
}

.post {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}
.search{
    /* float: right; */
    margin-right: 1500px;
  
  }