.posts{
    margin-top: 20px;
    margin-right: 20px;
    /* margin-left: 115px; */
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
    /* background-color: rgb(113,81,80); */
    padding: 10px;
    /* min-height: 500px; */
}

.post {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    padding: 30px;
    width: 70%;
    min-height: 80%;
    border-radius: 30px;
}

.post .ig {
    width: 100%;
    max-height: 50%;
}

.search{
    /* float: right; */
    margin-right: 1500px;
  
  }